.friend-card__button {
    height: 33px;
    padding-right: 25px;
    padding-left: 25px;
    border: none;  
    border-radius: 3px;
    background-color: #3d405b;
    color: #f4f1de;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: rgb(124, 141, 173);
}
.friend-card__button:hover {
    background-color: rgb(124, 141, 173);
    opacity: 0.8;
}
.friend-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 3px;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 5px;
}